.header {
  display: grid;
  width: 1100px;
  grid-template-columns: 1fr auto 1fr;
  background-color: #fff;
  align-items: center;
  padding: 0 50px;
}
.header__links-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 34px;
  list-style: circle;
  font-size: 18px;
}
.header__link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}
.header__link_active {
  text-decoration: none;
}

.header_logo-image {
  display: block;
  width: 124px;
  height: 95px;
  margin-top: 93px;
  margin-bottom: 95px;
}

.header__address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  justify-self: end;
  margin-top: 95px;
  margin-bottom: 100px;
  align-items: flex-start;
  font-size: 18px;
  font-style: normal;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  min-height: 757px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  line-height: 1;
  text-transform: uppercase;
  z-index: 2;
  color: white;
  width: 100%;
  height: 100%;
  letter-spacing: 30px;
  padding: 0 50px;
  margin-top: 165px;
}

.aligned-text_left {
  align-self: start;
  font-size: 100px;
  text-transform: uppercase;
  color: #fff;
  z-index: 2;
}

.aligned-text_center {
  align-self: center;
  font-size: 100px;
  color: #fff;
  z-index: 2;
  padding-top: 44.5px;
  padding-left: 20px;
  text-transform: uppercase;
}

.aligned-text_right {
  align-self: end;
  font-size: 100px;
  color: #fff;
  z-index: 2;
  padding-top: 40px;
  margin-left: auto;
  margin-right: -20px;
  text-transform: uppercase;
}

.cover-description {
  z-index: 2;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 106px 50px 0 50px;
  align-items: center;
}

.cover__description-text {
  z-index: 2;
  align-self: center;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 20px;
}

.bet-button {
  display: block;
  z-index: 2;
  padding: 12px 31px 11px 32px;
  border: 1px solid #ffffff;
  background: transparent;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  padding: 180px 0 27px 64px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;
  position: relative;
  color: inherit;
  z-index: 10;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 24px;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 3;
  color: #fff;
  padding: 48px 40px 0 40px;
}

.card__text {
  margin-top: auto;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  z-index: 2;
  padding: 0 40px 48px 40px;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  text-decoration: underline;
  padding-left: 64px;
  padding-top: 30px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 0 24px;
  max-width: 1340px;
  margin: 0 auto;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 155px;
}
.background-image-about {
  position: relative;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.about__logo-image {
  position: relative;
  width: 142px;
  height: 112px;
  z-index: 1;
  margin-top: 65px;
}

.about__title {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 120%;
  font-weight: bold;
  margin: 0 0 100px 0;
  padding-top: 256px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
  gap: 25px;
  width: 1100px;
  margin: 0 auto;
  padding: 180px 50px 60px 50px;
}
.address__footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  line-height: 24px;
  width: 261px;
  font-style: normal;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  line-height: 24px;

  font-style: normal;
}

.footer__menu-list-item {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}
.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  align-items: center;
  justify-content: end;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
  display: block;
}
