.header {
  display: grid;
  width: 1100px;
  min-height: 293px;
  grid-template-columns: 1fr auto 1fr;
  background-color: #fff;
  align-items: center;
}

.header_logo-image {
  display: block;
  width: 124px;
  height: 95px;
  margin-top: 93.16px;
  margin-bottom: 95.19px;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: start;
  margin-top: 133px;
  margin-left: 50px;
  margin-bottom: 139px;
  font-size: 18px;
}

.header_menu-address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  justify-self: end;
  margin-top: 95px;
  margin-bottom: 100px;
  margin-right: 52.52px;
  align-items: flex-start;
  font-size: 18px;
}

.cover {
  position: relative;
  width: 100%;
  min-height: 757px;
  overflow: hidden;
}

.cover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-position: center;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.cover__title {
  position: absolute;
  max-height: 385px;
  display: flex;
  flex-direction: column;
  line-height: 1;
  text-transform: uppercase;
  z-index: 2;
  color: white;
  width: 100%;
  height: 100%;
  letter-spacing: 30px;
  padding: 0 50px;
}

.aligned-text_left {
  align-self: start;
  font-size: 100px;
  color: #fff;
  z-index: 2;
  margin-top: 165px;
}

.aligned-text_center {
  align-self: center;
  font-size: 100px;
  color: #fff;
  z-index: 2;
  padding-top: 44.5px;
  padding-left: 20px;
}

.aligned-text_right {
  align-self: end;
  font-size: 100px;
  color: #fff;
  z-index: 2;
  padding-top: 40px;
  margin-left: auto;
  margin-right: -20px;
}

.cover-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 61px 50px;
  align-items: center;
}

.cover__description-text {
  z-index: 2;
  align-self: center;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 20px;
}

.bet-button {
  display: block;
  z-index: 2;
  padding: 12px 31px 11px 32px;
  border: 1px solid #ffffff;
  background: transparent;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
}

.lots__heading {
  font-size: 40px;
  padding: 180px 0 27px 64px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
}

.card-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  flex-grow: 1;
  position: relative;
  z-index: 10;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 24px;
}

.card_type_film,
.card_type_book,
.card_type_picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.card__title {
  position: relative;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 3;
  color: #fff;
  padding: 48px 40px 0 40px;
}

.card__text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  z-index: 3;
  padding: 0 40px 48px 40px;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  text-decoration: underline;
  padding-left: 64px;
  padding-top: 30px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  align-items: center;
  padding: 0 24px;
  max-width: 1340px;
  margin: 0 auto;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -180px;
}
.background-image-about {
  position: relative;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.about__logo-image {
  position: absolute;
  width: 141.54px;
  height: 112.55px;
  z-index: 1;
}

.about__title {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 120%;
  font-weight: bold;
  margin: 0 0 100px 0;
  padding-top: 256px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: start;
  justify-items: center;
  gap: 25px;
  width: 1100px;
  min-height: 180px;
  margin: 0 auto;
  padding-top: 180px;
  padding-bottom: 60px;
}

.footer_menu-addres {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  line-height: 24px;
  width: 261px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__social-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
  display: block;
}
